<div class="buttons-container" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="60px">

  <a class="neon-button">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Neon Button
  </a>

  <a class="neon-button-second">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Neon Button 2
  </a>

  <a class="neon-button-second">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Neon Button 2
  </a>

  <a class="shake-border">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Button
  </a>

  <a class="glowing-gradient">
    Button
  </a>

</div>
